/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}


/* Custom page header */

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.online {
    color: green;
}

.offline {
    color: darkred;
}

.label {
    font-size: 12px !important;
    vertical-align: middle;
}

.alert {
    text-align: center;
    font-weight: 800;
}

.card{
    margin-bottom: 1rem;
}

.btn-close{
    width: 1px;
    height: 1px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Darkmode Settings */

@media (prefers-color-scheme: dark){
    body {
        background-color: #333;
        color: #fff;
    }

    .bg-light{
        background-color: #7d7d7d; 
        color: #333;
    }

    .footer{
        color: #fff;
    }

    a {
        color: #999;
    }

    a:hover{
        color: #777;
    }

    .card{
        color: #fff;
        background-color:dimgrey;
    }

    .list-group-item{
        background-color: #333;
        color: #fff;
    }

    .modal-content{
        color: #333;
    }
}
